@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Fredoka+One&display=swap');
@import url('bootstrap/dist/css/bootstrap.min.css');

:root {
  --ff-main: 'Dosis', sans-serif;
  --ff-accent: 'Fredoka One', sans-serif;
  --dark-orange: rgb(131, 74, 1);
}

body {
  margin: 0 auto;
  font-family: var(--ff-main)
}

.container {
  margin: 2em auto 0 auto;
  color: white;
  padding: .2em;
  letter-spacing: .1rem;
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px 0px 13px 0px;
  height: 60vh;
  width: 70vw;
  text-align: center;
  background: linear-gradient(217deg, rgb(253, 144, 2), rgba(57, 2, 255, 0.53) 70.71%),
            linear-gradient(127deg, rgb(211, 207, 1), rgb(0, 51, 54) 70.71%),
            linear-gradient(336deg, rgba(0, 99, 61, 0.781), rgba(0, 255, 234, 0.993) 70.71%);
}

.title {
  font-family: var(--ff-accent);
  color: white;
  margin-top: .7em;
  font-size: 2rem;
}

.title_login {
  font-family: var(--ff-accent);
}

.container_input {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: inherit;
  text-align: center;
  align-items: center;
}

.container_input > input {
  border-radius: 13px;
  margin-top: .5em;
  font-size: 1rem;
  text-align: center;
}

.loginBtn {
  background-color: white;
  color: var(--dark-orange);
  border-style: none;
  border-radius: 13px;
  margin-top: 1.5em;
  padding: .5em;
  font-size: 1rem;
  font-family: var(--ff-accent);
  letter-spacing: .1rem;
  cursor: pointer;
}
.inactiveTab {
  display: none;
}
.activeTab {
  display: block;
}