@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Fredoka+One&display=swap');

:root {
  --ff-main: 'Dosis', sans-serif;
  --ff-accent: 'Fredoka One', sans-serif;
}

body {
  margin: 0 auto;
  font-family: var(--ff-main)
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.container {
  margin: 2em auto 0 auto;
  color: white;
  padding: .2em;
  letter-spacing: .1rem;
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px 0px 13px 0px;
  height: 60vh;
  width: 70vw;
  text-align: center;
  background: linear-gradient(217deg, rgb(253, 144, 2), rgba(57, 2, 255, 0.53) 70.71%),
            linear-gradient(127deg, rgb(211, 207, 1), rgb(0, 51, 54) 70.71%),
            linear-gradient(336deg, rgba(0, 99, 61, 0.781), rgba(0, 255, 234, 0.993) 70.71%);
}

.title {
  font-family: var(--ff-accent);
  color: white;
  margin-top: .7em;
  font-size: 2rem;
}

.container_input {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: inherit;
  text-align: center;
  align-items: center;
}

.container_input > input {
  border-radius: 13px;
  margin-top: .5em;
  font-size: 1rem;
  text-align: center;
}